
/*********************** MAIN ***********************/

main{
    width: 100%;
    margin-bottom: 1%;
}
/*********************** MAIN SECTION ***********************/
.main-section{
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap; 
}

.main-title{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10%;   
}
.main-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
}
.main-text h1 {
    font-family: nunito;
    font-size: 450%;
    font-weight: 500;
    margin: 0;
}

.main-text h1:nth-child(1){
    margin-bottom: 1%;
}


.subtitles-carousel {
    display: flex;
    width: 50%;
    height: 90px;
    flex-direction: column;
    overflow: hidden;
    flex-direction: column;
    justify-content: center; /* Centrar verticalmente */
    gap: 10%;
    
}

.subtitles-carousel-marquee {
    display: flex;
    list-style: none;
    white-space: nowrap; /* Evitar que el texto se divida en varias líneas */
    gap: 1rem;
    overflow: hidden;
    width: max-content; /* Cambia esto a max-content */
    animation: moveRight 220s linear infinite;
}

.subtitles-carousel-marquee li{
    background-color: var(--marquee-li);
    border-radius: 5px;
}


#subtitles-secondline {
    animation: moveLeft 290s linear infinite; /* Mover hacia la izquierda en bucle infinito */
}

/*si va muy rapido es por que tiene que mostrar todo el texto en x segundos, a mas texto y menos segundos más rápido irá*/
@keyframes moveRight {
    0% {
        transform: translateX(10%); /* Iniciar fuera del contenedor a la derecha */
    }
    100% {
        transform: translateX(-100%); /* Mover completamente a la izquierda del contenedor */
    }
    
}

@keyframes moveLeft {
    0% {
        transform: translateX(-80%); /* Iniciar fuera del contenedor a la izquierda */
    }
    100% {
        transform: translateX(100%); /* Mover completamente a la derecha del contenedor */
    }
}

.main-btns{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}
.main-btns > button > a{
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 20px;
}
.btn-general{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--skilly-green);
    border-radius: 15px;
    width: 20%;
    height: 60px;
    padding: 5px;
    border: 2px solid transparent; /* Borde inicialmente transparente */
    transition: box-shadow 0.3s ease-in-out; /* Agregar transición para suavizar el cambio */
    box-shadow: 0px 0px 16px 4px rgba(0,0,0,0.75);
    font-family: 'Nunito', sans-serif;
}
.btn-general:hover{
    box-shadow: 0px 0px 16px 4px #93ef51;
}
#arrow-down {
    position: absolute;
    bottom: 50px; /* Ajusta la distancia desde abajo */
    left: 50%; /* Coloca la imagen en el centro horizontalmente */
    transform: translateX(-50%); /* Centra horizontalmente la imagen */
    width: 40px; /* Ajusta el ancho de la imagen */
    height: 40px; /* Ajusta la altura de la imagen */
    opacity: 0.8;
    animation: moveDown 2s infinite alternate; /* Animación para mover hacia abajo */
}
@keyframes moveDown {
    0% {
        transform: translateX(-50%) translateY(0); /* Posición inicial */
    }
    100% {
        transform: translateX(-50%) translateY(20px); /* Posición final (20px hacia abajo) */
    }
}


/******* ABOUT **********/
.about, .howWorks, .whereClasses, .contactForm, .plans{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    margin-top: 2%;
    
}
.about{
    height: 60vh;
    margin-top: 1%;
}

.about .aboutContent{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-back);
    gap: 10%;
    height: 100%;
    color: white;
}
.about .textAbout{
    width: 50%;
}
.about .textAbout p{
    text-align: justify;
}

.about img{
    width: 30%;
    border-radius: 25px;
}

/******* HOWWORKS**********/
.howWorks{
    height: 40vh;
}
.howWorks p{
    text-align: justify;
    margin-bottom: -0.5%;
    padding:0 2%;
}


.timeline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%; 
    gap: 2%;
    margin-top: 3%;
}

.timeline-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 90%;
    padding: 1%;
    border-radius: 25px;
    box-shadow: 0px 0px 50px -3px #000;
}

.timeline-item-text {
    text-align: justify;
    width: 100%;
}
.timeline-item-text a{
    color: black;
    font-size: bold;
}

.point-number {
    background-color: white;
    color: var(--skilly-green);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* #first{
    background-color: #D0F1B9;
}
#second{
    background-color: #B1E68C;
}
#third{
    background-color: #90D85D;
}
#fourth{
    background-color: #7AC943;
} */
#first{
    background-color: #e3f5d2;
}
#second{
    background-color: #c7ecaa;
}
#third{
    background-color: #a3dd79;
}
#fourth{
    background-color: #7ac943;
}
/******* WHERECLASSES **********/
.whereClasses{
    height: 80vh;
}
.features{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}
.features p{
    text-align: justify;
}

/******* PLANS **********/
.plans{
    height: 100vh;
    gap: 5%;
}
.plans .plansWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    width: 100%;
    height: 60%;
    background-color: var(--dark-back);
    padding: 2% 0;
}
.plans .plansWrapper .plan{
    
    background-color: white;
    width: 20%;
    height: 90%;
    border-radius: 25px;
    padding: 1%;
}
.plans .plansWrapper .plan .planTitle, .plans .plansWrapper .plan .planPrice{
    text-align: center;
}

.plans .plansWrapper .plan .planPrice{
    color: rgb(100, 99, 99);
    font-size: 80%;
}
.plans .plansWrapper .plan .planPrice .price{
    font-size: 500%;
    color: var(--skilly-green);
}

.plans .plansWrapper .plan .planContent ul{
    list-style: none;
    text-align: left;
    padding-left: 0;
}

#btn-plans, #btn-contact {
    text-decoration: none;
    color: black;
    font-size: 130%;
    font-weight: 700;
    width: 15%;
}

/******* CONTACTFORM**********/
.contactForm{
    height: 90%;
}
.form-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.form-container .btn-contact{
    width: 25%;
    text-decoration: none;
    color: black;
    margin-bottom: 1%;
}

.form-container .btn-contact img{
    width: 15%;
    
}

.form-container .btn-contact:hover{
    color: var(--skilly-green);
    text-decoration: underline;
}

#btn-contact{
    width: 20%;
    font-size: 120%;
    margin-top: 5%;
}
.whatsapp{
    display: flex;
    justify-content: center;
    align-items: center;
}
.whatsapp img{
    width: 50%;
}
#imgW{
    width: 70%;
}


/******* FOOTER **********/

footer{
    box-shadow: 0px -16px 10px -8px rgba(0,0,0,0.1);
    background-color: var(--dark-back);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30vh;
    gap: 2%;
    color: white;
}
footer img{
    width: 8%;
}

footer .footer-list{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 5%;
    width: 60%;
    justify-content: center;
    align-items:center;
}
footer .footer-list a{
    text-decoration: none;
    color: white;
}

footer .footer-list a:hover{
    color: var(--skilly-green);
}
footer #footer-legal a{
    color: rgb(100, 99, 99);
}

/******* FOOTER **********/

#to-top-button {
    position: fixed; /* Fija el botón en una posición en la pantalla */
    bottom: 20px; /* 20px desde la parte inferior */
    right: 20px; /* 20px desde la parte derecha */
    padding: 10px 15px; /* Espaciado interno para el botón */
    background-color: var(--skilly-green); /* Color de fondo */
    color: white; /* Color del texto */
    text-decoration: none; /* Remueve el subrayado del texto */
    border-radius: 50%; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de la fuente */
    z-index: 1000; /* Asegura que el botón esté por encima de otros elementos */
}

#to-top-button:hover {
    filter: brightness(85%); /* Efecto al pasar el cursor por encima */
}

@media (max-width: 430px) {
    .main-section{
        width: 100%;
        height: 100vh;
    }

    .main-title{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 50vh;
        font-size: 80%;
    }

    #motto{
       font-size: 14px; 
    }

    .subtitles-carousel{
        width: 80%;
    }

    .main-btns{
        width: 100%;
    }

    .main-btns .btn-general{
        width: 30%;
    }
    
    .main-btns .btn-general a{
        text-align: center;
        font-size: 14px;
    }

    .about{
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    .about .aboutContent{
        display: flex;
        flex-direction: column;
        height: 100vh;
        gap: 2%;
    }

    .aboutContent .textAbout{
        width: 80%;
        height: 80vh;
        font-size: 13px;
    }

    .about .aboutContent img{
        display: none;
    }

    .howWorks{
        width: 100%;
        height: 130vh;
    }

    .timeline {
        display: flex;
        flex-direction: column;
    }

    .timeline-item {
        width: 100%;
        height: 25%;
        padding: 1%;
        border-radius: 25px;
        box-shadow: 0px 0px 50px -3px #000;
    }
    
    .timeline-item-text {
        width: 90%;
        margin-bottom: 5%;
    }
    
    .whereClasses{
        height: 100%;
        width: 100%;
    }
    .whereClasses p{
        width: 90%;
    }
    .features{
        width: 90%;
    }
    .features p{
        text-align: left;
    }


    .plans{
        width: 100%;
        height: 190vh;
        gap: 5%;
    }

    .plans .plansWrapper{
        flex-direction: column;
        height: 100%;
    }
    .plans .plansWrapper .plan{
        width: 90%;
        height: 80%;
        border-radius: 25px;
        padding: 1%;
    }
    
    .plans .plansWrapper .plan .planPrice{
        font-size: 60%;
    }
    .plans .plansWrapper .plan .planPrice .price{
        font-size: 400%;
    }

    #btn-plans{
        width: 60%;
    }

    .contactForm{
        width: 100%;
        height: 50vh;
    }

    .contactForm p{
        width: 90%;
        text-align: justify;
    }

    .form-container{
        width: 80%;
    }
    .form-container .btn-contact{
        width: 100%;
    }

    footer{
        height: 30vh;
    }
    footer img{
        width: 40%;
    }
    #footer-menu{
        display: none;
    }

    #footer-legal{
        flex-direction: column;
    }
}